/* Import Google Fonts - Inter font with multiple weights */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Global reset for margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensure padding and border are included in width/height */
}

:root {
  --cor-primaria: #1E201E;
  --cor-secundaria: #697565;
  --cor-fonte-footer: #3C3D37;
  --cor-fonte: #ECDFCC;
}

/* Base body styles */
body {
  height: 100vh;
  background-color: var(--cor-primaria);
  font-family: "Inter", sans-serif;
  font-size: 15pt;
  color: var(--cor-fonte);
}

/* Header styling */
header {
  flex: 1;
  margin: 26px 0;
}

/* Navigation bar */
.nav-links {
  display: flex;
  justify-content: center;
  gap: 100px;
}

/* Main content section */
main {
  flex: 7;
  font-size: 16pt;
  margin: 7.5% 15%;
}


section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 40px;
}
/* Introduction section inside the main area */
.intro-section {
  width: 50%;
}

/* Styling for paragraphs inside the intro-section */
.intro-section p {
  margin: 1.5rem 0;
}

/* Image styling */
img {
  width: 32%;
  border-radius: 15px;
}

/* Footer styling */
footer {
  flex: 2;
  background-color: var(--cor-secundaria);
  padding: 10px 20px;
}

/* Contact info styling inside the footer */
.contact-info {
  margin-bottom: 1rem;
}

/* Site info and links inside the footer */
.site-info {
  display: flex;
  justify-content: space-between;
  color: var(--cor-fonte-footer);
}

.site-info a {
  color: var(--cor-fonte-footer);
}

.site-links {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Link styling */
a {
  text-decoration: none;
  color: var(--cor-fonte);
}

#linha-vertical {
  height: 18px;
  border-right: 2px solid var(--cor-fonte-footer);
}


@media (max-width: 1200px) {
  section {
    flex-direction: column-reverse;
  }

  .intro-section {
    width: auto;
  }

  img {
    width: 55%;
  }

  .nav-links {
    gap: 30px;
    font-size: 16pt;
  }

  footer {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  section {
    flex-direction: column-reverse;
  }

  .intro-section {
    width: auto;
  }

  img {
    width: 100%;
  }

  .nav-links {
    gap: 30px;
    font-size: 15pt;
  }

  footer {
    flex-direction: column;
  }

  .site-info {
    flex-direction: column;
    font-size: 12pt;
  }
}