/* Import Google Fonts - Inter font with multiple weights */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Global reset for margin and padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensure padding and border are included in width/height */
}

/* Base body styles */
body {
  height: 100vh;
  background-color: #FAFAFA;
  font-family: "Inter", sans-serif;
  font-size: 15pt;
}

/* Header styling */
header {
  flex: 1;
  margin: 26px 0;
}

/* Navigation bar */
.nav-links {
  display: flex;
  justify-content: center;
  gap: 100px;
}

/* Main content section */
main {
  flex: 7;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 16pt;
  margin: 7.5% 15%;
}

/* Introduction section inside the main area */
.intro-section {
  width: 530px;
}

/* Styling for paragraphs inside the intro-section */
.intro-section p {
  margin: 1.5rem 0;
}

/* Image styling */
img {
  height: 32.5rem;
  border-radius: 15px;
}

/* Footer styling */
footer {
  flex: 2;
  background-color: #D9D9D9;
  padding: 10px 20px;
}

/* Contact info styling inside the footer */
.contact-info {
  margin-bottom: 1rem;
}

/* Site info and links inside the footer */
.site-info {
  display: flex;
  justify-content: space-between;
  color: #757575;
}

.site-info a {
  color: #757575;
}

.site-links {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Link styling */
a {
  text-decoration: none;
  color: black;
}

#linha-vertical {
  height: 18px;
  border-right: 2px solid #757575;
}